* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans';
    background-color: coral;
    color: cornsilk;
}

.container {
    padding: 50px 50px;
}

.title {
    padding-bottom: 20px;
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

input {
    margin-bottom: 25px;
    
} 

input[type="text"] {
    padding: 5px 10px;
    border-radius: 90px;
    border: none;
}

p {
    padding-bottom: 10px;
}

.box {
    height:100px;
    width: 100%;
    background-color: cornsilk;
    margin-bottom: 25px;
    border-radius: 10px;
}

.toggle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-text {
    font-size: 18px;
}

.toggle-btn {
    height: 30px;
    width: 60px;
    background-color: rgba(241, 195, 178, 0.671);
    border-radius: 30px;
    padding: 5px;
    margin: 0 10px;
}

.inner-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: all 250ms;
}

.toggle-btn.toggled > .inner-circle {
    transform: translateX(30px);
    background-color: white;
}

.unselected {
    opacity: 0.25;
}